/* Sidebar */
#sidebar {
    margin: 0;
    padding: 0;
    width: 20%;
    height: 100vh;
    color: var(--main-white);
    background-color: var(--main-blue);
    box-shadow: 1px 0 2px 1px var(--main-blue);
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
}

select#chat-lang-select {
    height: 40px;
}

#sidebar-addchat,
.chat-overview,
#chat-lang-select {
    width: 90%;
    padding-left: 25px;
    padding-right: 20px;
    border-radius: 5px;
    font-size: 12px;
    text-align: left;
    word-wrap: break-word;
}

#sidebar-addchat {
    height: auto;
    background-color: var(--main-blue);
    border: 1px solid var(--white);
    border-radius: 5px;
    color: var(--white);
    flex: 0 0 auto;
    min-height: 55px;
    margin: 25px auto 40px;
}

#sidebar-addchat:active {
    background-color: var(--text-blue);
}

#sidebar-plus {
    padding-right: 10px;
}

.chat-delete {
    display: flex;
    color: var(--main-black);
    background-color: initial;
    border: none;
    font-size: 12px;
}

/* Navigation links at bottom of sidebar */

#sidebar-nav {
    flex: 0 1 300px;
    margin-top: 30px;
    bottom: 0;
    display: flex;
    justify-content: space-evenly;
    left: 0;
    margin-bottom: 30px;
    position: fixed;
    width: 20%;
}

.sidebar-nav-link {
    font-size: 18px;
    color: var(--main-white);
    text-decoration: none;
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.tooltiptext {
    width: max-content;
    color: var(--main-white);
    background-color: #1b1b1b;
    text-align: center;
    font-size: 12px;
    padding: 10px;
    border-radius: 10px;
    z-index: 1;
    bottom: 120%;
    visibility: hidden;
    position: absolute;
}

.tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -9px;
    border-width: 5px;
    border-style: solid;
    border-color: #1b1b1b transparent transparent transparent;
}

#toolkit-home {
    left: -34px;
}

#toolkit-notes {
    left: -45px;
}

#toolkit-settings {
    right: -28px;
}

#toolkit-logout {
    right: -25px;
}

.sidebar-nav-link:hover .tooltiptext {
    visibility: visible;
}

#sidebar-chat-list {
    margin-left: 10px;
    padding-right: 10px;
    flex: 1 1 auto;
    margin-bottom: 70px;
    overflow-y: scroll;
    overflow-x: hidden;
}

#sidebar-chat-list::-webkit-scrollbar {
    width: 5px;
}

#sidebar-chat-list::-webkit-scrollbar-thumb {
    background: var(--white);
    border-radius: 10px;
}

#sidebar-chat-list::-webkit-scrollbar-button {
    display: none;
}


/* Saved chats */
.chat {
    display: flex;
    justify-content: center;
}

.chat-overview {
    align-items: center;
    background-color: var(--main-white);
    border: none;
    color: black;
    display: flex;
    height: fit-content;
    margin-bottom: 10px;
    min-height: 40px;
    width: 100%;
}

.chat-nickname {
    width: 100%;
    font-size: 12px;
}

input:focus {
    outline: none;
}

button:hover {
    cursor: pointer;
}

#active-chat {
    background-color: var(--text-blue);
    color: var(--main-white);
    border: 2px solid var(--main-white);
    width: 100%;
}

#active-chat .chat-delete {
    color: var(--white);
}

/* Right section: send messages */
#chat-text-wrapper {
    margin-bottom: 30px;
    margin-left: 10%;
    margin-right: 10%;
}

#chat-text {
    height: 45px;
    border-radius: 5px;
    border: 1px solid var(--body-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#user-text-type {
    height: 35px;
    line-height: 35px;
    font-size: 14px;
    width: 100%;
    border: none;
    padding-left: 25px;
    overflow-x: hidden;
    overflow-y: auto;
    resize: none;
    font-family: "Varela Round", sans-serif;
    outline: 0;
    background-color: transparent;
    color: var(--body-color);
}

textarea::placeholder {
    line-height: 35px;
}

#user-text-send,
#speech-to-text {
    margin-right: 20px;
    font-size: 16px;
    background-color: transparent;
    border: none;
    color: var(--black-contrast);
}

#user-text-send-icon {
    display: flex;
    width: 25px;
    height: 20px;
    filter: var(--send-text-icon);
}

#speech-to-text-icon,
#speech-to-text-icon-active {
    display: flex;
    width: 13px;
}

#speech-to-text-icon-active,
#user-text-send:active,
.translation-active,
.speaking-active {
    color: red !important;
    cursor: default;

}

/* Text messages */
#chat-box {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin-left: 20%;
    width: 80%;
}

#chat-messages {
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 3px;
    display: flex;
    flex: 1 1 auto;
    flex-direction: column-reverse;
    overflow-x: hidden;
    overflow-y: scroll;
}

#chat-messages::-webkit-scrollbar {
    width: 10px;
}

#chat-messages::-webkit-scrollbar-track {
    box-shadow: inset 0 0 2px grey;
    border-radius: 10px;
}

#chat-messages::-webkit-scrollbar-thumb {
    background: var(--main-blue);
    border-radius: 10px;
}

#chat-messages::-webkit-scrollbar-button {
    display: none;
}

.user-text,
.bot-text {
    max-width: 40%;
    overflow-wrap: break-word;
    height: fit-content;
    text-align: left;
    border-radius: 5px;
    padding: 10px;
    font-size: 14px;
    margin: 0;
}

.user-text {
    margin: 0;
    float: right;
    box-shadow: -1px 1px 2px 1px gray;
    position: relative;
    right: -10px;
    background-color: var(--main-white);
    color: var(--main-black)
}

/* Outer triangle that creates the gray outline*/
.user-text:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-top: 10px solid #c4c4c4;
    border-left: 10px solid #c4c4c4;
    border-right: 10px solid transparent;
    border-bottom: 10px solid transparent;
    top: 5px;
    right: -19px;
}

/* Inner white triangle */
.user-text:after {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-top: 10px solid var(--main-white);
    border-left: 10px solid var(--main-white);
    border-right: 10px solid transparent;
    border-bottom: 10px solid transparent;
    right: -15px;
    top: 6px;
}

.bot-text {
    margin: 0;
    float: left;
    color: var(--main-white);
    background-color: var(--text-blue);
    box-shadow: 1px 1px 2px 1px gray;
    position: relative;
}

/* Blue triangle */
.bot-text:after {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-top: 10px solid var(--text-blue);
    border-right: 10px solid var(--text-blue);
    border-left: 10px solid transparent;
    border-bottom: 10px solid transparent;
    top: 6px;
    left: -19px;
}

/* Message Tools */
.user-text-wrapper,
.bot-text-wrapper {
    display: flex;
    flex-direction: column-reverse;
}

.user-text-wrapper {
    align-items: flex-end;
    margin-top: 40px;
}

.bot-text-wrapper {
    align-items: flex-start;
}

.bot-text:hover+.message-tools-bot-wrapper,
.message-tools-bot-wrapper:hover {
    visibility: visible;
}

.message-tools-user-wrapper {
    display: none;
}

.message-tools-bot-wrapper {
    width: 115px;
    height: 40px;
    padding-bottom: 5px;
    display: flex;
    visibility: hidden;
}

#message-tools-bot {
    width: 115px;
    height: 40px;
    background-color: var(--black-contrast);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.message-tools-button {
    width: 35px;
    height: 35px;
    background-color: transparent;
    color: var(--white-contrast);
    border: none;
    font-size: 14px;
}

/* Settings */
#settings {
    padding-right: 20%;
    padding-left: 20%;
    margin-top: 75px;
    position: absolute;
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 60%;
    z-index: 2;
    visibility: hidden;
}

.setting-wrapper {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#settings-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.setting-description {
    margin-bottom: 20px;
    width: 70%;
}

#exit-settings:hover {
    cursor: pointer;
}

.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 28px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
}

.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 4px;
    bottom: 4px;
    background-color: white;
}

input:checked+.slider {
    background-color: var(--main-blue);
}

input:focus+.slider {
    box-shadow: 0 0 1px var(--blue);
}

input:checked+.slider:before {
    -webkit-transform: translateX(22px);
    -ms-transform: translateX(22px);
    transform: translateX(22px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}