:root {
    --text-blue: #4478ac;
    --transparent-triangle-side: 10px solid transparent;
    --gray-triangle-side: 10px solid #c4c4c4;
    --white-traingle-side: 10px solid var(--white);
    --blue-traingle-side: 10px solid var(--text-blue);
    --triangle-distance: -19px;
}

/* Sidebar */
#sidebar {
    margin: 0;
    padding: 0;
    width: 20%;
    height: 100vh;
    color: var(--white);
    background-color: var(--blue);
    box-shadow: 1px 0 2px 1px gray;
    position: fixed;
    overflow: auto;
}

#sidebar-addchat, .chat-overview {
    width: 90%;
    padding-left: 25px;
    border-radius: 5px;
    font-size: 12px;
    text-align: left;
}

#sidebar-addchat {
    height: 50px;
    margin: 25px auto 40px auto;
    border-radius: 5px;
    border: 1px solid var(--white);
    color: var(--white);
    background-color: var(--blue);
}

#sidebar-plus {
    padding-right: 10px;
}


/* Navigation links at bottom of sidebar */

#sidebar-nav {
    width: 20%;
    margin-bottom: 30px;
    position: fixed;
    left: 0%;
    bottom:0%;
    display: flex;
    justify-content: space-evenly;
}

.sidebar-nav-link {
    font-size: 18px;
    color: var(--white);
    text-decoration: none;
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.tooltiptext {
    width:max-content;
    color: var(--white);
    background-color: black;
    text-align: center;
    font-size: 12px;
    padding: 10px;
    border-radius: 10px;
    z-index: 1;
    bottom: 120%;
    visibility: hidden;
    position: absolute;
}

.tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -9px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

#toolkit-home {
    left: -34px;
}

#toolkit-notes {
    left: -45px;
}

#toolkit-settings {
    right: -28px;
}

#toolkit-logout {
    right: -25px;
}

.sidebar-nav-link:hover .tooltiptext {
    visibility: visible;
}
  

/* Saved chats */
.chat-overview {
    height: 40px;
    margin-bottom: 10px;
    border: 1px solid var(--white);
    background-color: var(--white);
    color: #4b4b4b;
}

input:focus {
    outline: none;
}

button:hover {
    cursor: pointer;
}

/* Right section: send messages */
#chat-text-wrapper {
    height: 50px;
    width: 80%;
    margin-left: 20%;
    margin-bottom: 30px;
    position: fixed;
    left: 0%;
    bottom:0%;
    display: flex;
    justify-content: center;
}

#chat-text {
    height: 45px;
    width: 80%;
    border-radius: 5px;
    border: 1px solid var(--dark-gray);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#user-text-type {
    height: 35px;
    font-size: 14px;
    width: 100%;
    border: none;
    padding-left: 25px;
}

#user-text-send, #speech-to-text {
    margin-right: 20px;
    font-size: 16px;
    background-color: transparent;
    border: none;
    color: var(--dark-gray);
}

#user-text-send-icon {
    display: flex;
    filter: opacity(0.8);
    width: 25px;
    height: 20px;
}

#speech-to-text-icon, #speech-to-text-icon-active {
    display: flex;
    width: 13px;
}

#speech-to-text-icon-active, #user-text-send:active {
    color: var(--blue);
}

#user-text-send:active {
    cursor: default;    
}

/* Text messages */
#chat-messages-wrapper {
    height: 100%;
    width: 80%;
    margin-left: 20%;
    margin-bottom: 100px;
    left: 0%;
    bottom: 0%;
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: flex-end;
}

#chat-messages {
    width: 100%;
    max-height: 80%;
    padding-right: 8%;
    margin-left: 10%;
    display: flex;
    flex-direction: column-reverse;
    overflow-x: hidden;
}

#chat-messages::-webkit-scrollbar {
    width: 10px;
}

#chat-messages::-webkit-scrollbar-track {
    box-shadow: inset 0 0 2px grey; 
    border-radius: 10px;
}

#chat-messages::-webkit-scrollbar-thumb {
    background: var(--blue); 
    border-radius: 10px;
}

#chat-messages::-webkit-scrollbar-button { 
    display:none;
}

.user-text, .bot-text{
    max-width: 40%;
    overflow-wrap: break-word;
    height: fit-content;
    text-align: left;
    border-radius: 5px;
    padding: 10px;
    font-size: 14px;
    margin-top: 0;
}

.user-text {
    margin-right: 3%;
    float: right;
    box-shadow: -1px 1px 2px 1px gray;
    position: relative;
}

/* Outer triangle that creates the gray outline*/
.user-text:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-top: var(--gray-triangle-side);
    border-left: var(--gray-triangle-side);
    border-right: var(--transparent-triangle-side);
    border-bottom: var(--transparent-triangle-side);
    right: var(--triangle-distance);
    top: 5px;
}

/* Inner white triangle */
.user-text:after {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-top: var(--white-traingle-side);
    border-left: var(--white-traingle-side);
    border-right: var(--transparent-triangle-side);
    border-bottom: var(--transparent-triangle-side);
    right: -15px;
    top: 6px;
}

.bot-text {
    left: 19px;
    float: left;
    color: var(--white);
    background-color: #1d5c9bd3;
    box-shadow: 1px 1px 2px 1px gray;
    position: relative;
}

/* Blue triangle */
.bot-text:after {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-top: var(--blue-traingle-side);
    border-right: var(--blue-traingle-side);
    border-left: var(--transparent-triangle-side);
    border-bottom: var(--transparent-triangle-side);
    left: var(--triangle-distance);
    top: 6px;
}

/* Message Tools */
.user-text-wrapper, .bot-text-wrapper {
    display: flex;
    flex-direction: column-reverse;
}

.user-text-wrapper {
    align-items: flex-end;
}

.bot-text-wrapper {
    align-items: flex-start;
}   

.bot-text:hover + .message-tools-bot-wrapper,
.message-tools-bot-wrapper:hover {
    display: flex;
}

.message-tools-user-wrapper{
    display: none;
}

.message-tools-bot-wrapper {
    width: 115px;
    height: 40px;
    margin-left: 19px;
    padding-bottom: 5px;
    display: none;
}

#message-tools-bot {
    width: 115px;
    height: 40px;
    background-color: #171717e0;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.message-tools-button {
    width: 35px;
    height: 35px;
    background-color: transparent;
    color: var(--white);
    border: none;
    font-size: 14px;
}

#message-listen:active, #message-translate:active {
    color: #2d95fcd3;
    cursor: default;
}

/* Settings */
#settings {
    padding-right: 20%;
    padding-left: 20%;
    margin-top: 75px;
    position: absolute;
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 60%;
    z-index: 2;
    visibility: hidden;
}

.setting-wrapper {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#settings-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.setting-description {
   margin-bottom: 20px;
   width: 70%;
}

#exit-settings:hover {
    cursor: pointer;
}

.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 28px;
}
  
.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}
  
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
}
  
  .slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: var(--blue);
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px var(--blue);
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(22px);
    -ms-transform: translateX(22px);
    transform: translateX(22px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }