:root {
    --blue: #1D5D9B;
    --white: #fff;
    --subtext-gray: #757575;
    --dark-gray: #3c3c3c;
    --section-margin-side: 10vw;
    --section-margin: 15vw;
    --title-font-size: 30px;
    --text-font-size: 16px;
    --flag-size: 28px;
}

body { 
    color: var(--dark-gray);
    background-color: var(--white);
}

/* Full Screen Desktop */
@media screen and (min-width: 1020px ) {
    #welcome-inner-text {
        text-align: left;
    }

    #languages-offered {
        justify-content: space-between;
    }

    .feature-highlight-overview {
        display: inline-flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .left {
        flex-direction: row;
    }

    .right {
        flex-direction: row-reverse;
    }

    .feature-highlight {
        width: 35%;
        height: 20%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: left;
    }

    .feature-image {
        width: 35%;
        height: 25%;
    }
   
    #get-started-button {    
        width: 175px;
        height: 50px;
    }
 }

/* Small Screen */
@media screen and (max-width: 1020px) {
    #welcome-image {
        display: none;
    }

    #welcome-inner-block {
        padding-bottom: 100px;
    }

    #welcome-inner-text {
        text-align: center;
        display: flex;
        width: 80%;
        flex-direction: column;
        align-items: center;
    }

    #English-home {
        margin-left: 0px;
    }

    #Korean-home {
        margin-right: 0px;
    }

    #overview {
        flex-direction: column;
    }

    .feature-highlight-overview {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .feature-image {
        width: 60%;
        height: 35%;
    }

    .feature-highlight {
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 50px;
        text-align: center;
    }

    #welcome-inner-text, #welcome-title-upper {
        width: 80%;
    }

    h1, h2, h3, p {
        overflow-wrap: break-word;
    }
}

p {
    font-size: 18px;
}

h1 {
    font-size: var(--title-font-size);
}

/* Title block */

#welcome-block {
    background-color: var(--blue);
    color: var(--white);
    padding-bottom: 30px;
}

#welcome-inner-block {
    overflow-wrap: break-word;
    width: 100%;
    display: inline-flex;
    justify-content: center;
    flex-wrap: wrap;
}

#welcome-inner-text {
    padding-top: 125px;
}

#welcome-title-upper {
    margin: 0;
    letter-spacing: 4px;
    font-size: 55px;
}

#welcome-title-lower {
    margin-top: 0;
    font-weight: 400;
    letter-spacing: 2px;
    font-size: var(--title-font-size);
}

#welcome-subtitle {
    font-weight: 100;
}

#welcome-image {
    float: right;
    width: 70vh;
    height: 75vh;
    margin-right: -3%;
}


/* Languages Offered */

#languages-offered {
    margin-top: 15px;
    width: 85%;    
    display: inline-flex;
    font-weight: 600;
    font-size: var(--text-font-size);
    letter-spacing: 1px;
    color: var(--subtext-gray);
    justify-content: space-around;
    flex-wrap: wrap;
}

.language {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 0px;
    width: 130px;
    font-size: 14px;
}

.lang-flag {
    width: var(--flag-size);
    height: var(--flag-size);
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 100px;
    object-fit: cover;
}

#Japanese-home-flag, #Korean-home-flag {
    border: 1px solid var(--subtext-gray);
}


/* Feature Overview*/

#major-features {
    width: 80%;
    margin: var(--section-margin) auto var(--section-margin) auto;
}

#overview {
    display: flex;
    margin-top: 5%;
    justify-content: space-evenly;
}

#overview-feature {
    width: 30%;
}

#problem {
    font-size: var(--title-font-size);
    font-weight: 600;
}

.gray-text, span{
    color: var(--subtext-gray);
}

span {
    font-size: 14px;
}


/* Highlighted Features */

#feature-display {
    display: table-row;
    height: auto;
}

.feature-highlight-overview {
    width: 95vw;
    margin-bottom: var(--section-margin);
    text-align: left;
}

/* Join Now Block */

#join-now {
    height: 50vh;
    background-color: var(--blue);
    color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#get-started-button {
    padding-left: 20px;
    padding-right: 20px;
    text-decoration: none;
    line-height: 50px;
    margin-top: 3%;
    color: var(--blue);
    background-color: var(--white);
    font-size: 16px;    
    border-radius: 5px;
    font-weight: 600;
    border: none; 
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Varela Round", sans-serif;
}
