/* Full Screen Desktop */
@media screen and (min-width: 1020px ) {
    #nav-right {
        display: block !important;
    }

    #navbar-hamburger {
        display: none;
    }

    .navbar-button {
        margin: 0;
    }

    .navlink {
        margin: 0 5% 0 5px;
        float: right;
        height: 55px;
    }
}

/* Small Screen */
@media screen and (max-width: 1020px ) {
    #navbar-hamburger {
        display: flex;
    }

    .navlink {
        flex-direction: column;
        width: 100%;
        height: fit-content;
        margin: 55px 0 0 0;
        background-color: #1e2637;
        padding-top: 25px;
        padding-bottom: 25px;
    }

    .navbar-button {
        margin: 10px;
    }
}

.navigation-menu {
    height: fit-content;
    background-color: var(--main-blue);
    letter-spacing: 1px;
}

#logo {
    margin: 0 0 0 5%;
    float: left;
    line-height: 50px;
    vertical-align: middle;
    font-size: 22px;
    font-weight: bold;
    color: var(--white);
    text-decoration: none;
}

#navbar-hamburger {
    height: 55px;
    float: right;
    margin-right: 5%;
    align-items: center;
}

#hamburger-icon {
    height: 22px;
}

#hamburger-icon:hover {
    cursor: pointer;
}

.navlink {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-button, #logout-button-text {
    width: 90px;
    height: 35px;
    font-weight: 600;
    font-size: 13px;
    cursor: pointer;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

#logout-button-text {
    margin: 0;
}

#notes-button, #chat-button, #login-button {
    color: var(--white);
    background-color: transparent;
    margin-right: 10px;
}

#signup-button, #logout-button {
    background-color: var(--white); 
    color: var(--main-blue);
    border-radius: 5px;
}