.navigation-menu {
    height: 55px;
    background-color: var(--blue);
    letter-spacing: 1px;
}

#logo {
    margin: 0 0 0 5%;
    float: left;
    line-height: 50px;
    vertical-align: middle;
    font-size: 22px;
    font-weight: bold;
    color: var(--white);
    text-decoration: none;
}

.navlink {
    margin: 0 5% 0 5px;
    float: right;
    line-height: 50px;
    vertical-align: middle;
    text-decoration: none;
}

#logout-button {
    width: 95px;
    height: 35px;
    background-color: var(--white); 
    color: var(--blue);
    border-radius: 5px;
    border: none;
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
    margin: 0;
}

#chat-button {
    margin: 0;
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
    width: 95px;
    color: var(--white);
    background-color: transparent;
    border: none;
}