:root {
    --notes-margin: 5%;
}

/* Full Screen Desktop */
@media screen and (min-width: 1020px ) {
    #notes-wrapper {
        padding-top: 50px;
    }
}

/* Small Screen */
@media screen and (max-width: 1020px ) {
    #notes-wrapper {
        padding-top: 100px;
    }
}

html {
    background-color: transparent;
}

#notes-wrapper {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.saved-message {
    width: 60%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    border: 1px solid var(--body-color);
    border-radius: 5px;
    margin-bottom: 50px;
}

.saved-message-text {
    border-bottom: 1px solid gray;
    display: flex;
    flex-direction: column-reverse;
    padding: 25px;
}

.saved-text {
    flex: 0 1 auto;
    margin: 0;
    text-align: left;
    font-size: 17px;
}

.saved-text-tools {
    flex: 1 0 auto;
    text-align: right;
    margin-bottom: 10px;
}

.saved-text-tools-button {
    background-color: transparent;
    border: none;
    font-size: 18px;
    color: var(--body-color);
}

.saved-text-listen:active,
.saved-text-translate:active {
    color: var(--accent-blue);
    cursor: default;
}

.saved-text-delete {
    margin-left: 20px;
    color: red;
}

.notes-input {
    display: inline-block;
    max-width: 90%;
    min-width: 90%;
    min-height: 25px;
    height: fit-content;
    overflow-wrap: break-word;
    box-sizing: border-box;
    margin: 3% 5%;
    border: none;
    color: var(--subtext-color);
    font-family: "Varela Round", sans-serif;
    background-color: transparent;
    line-height: 30px;
    max-height: 200px;
    font-size: 15px;
}

textarea::placeholder {
    color: var(--subtext-color);
}

#notes-lang {
    width: 60%;
}

#notes-lang-select {
    float: right;
    height: 40px;
    margin-bottom: 50px;
    max-width: 250px;
    min-width: 200px;
    width: 25%;
    border-radius: 5px;
    padding-left: 15px;
}