/* Buttons with a unique language */
.lang-unique-button {
    height: 100px;
    border-radius: 10px;
    border: none;
    font-size: 16px;
    font-weight: bold;
    color: var(--dark-gray);
    letter-spacing: 1px;
    text-align: left;
    padding-left: 30px; 
    box-shadow: 0 2px 2px 2px #3c3c3cdc;
    cursor: pointer;
    display: flex;
    align-items: center;
    background: 50% / cover no-repeat rgba(255,255,255,0.9);
    background-blend-mode: lighten;
}

.active {
    border: 5px solid var(--blue);
    box-shadow: none;
    color: var(--blue);
    background: 50% / cover no-repeat rgba(240, 241, 255, 0.9);
}

#lang-select {
    display: grid;
    grid-template-columns: 25vw 25vw;
    column-gap: 5%;
    height: 450px;
    justify-content: center;
}

/* Instructions */
#lang-select-instruction-title {
    font-size: 30px;
    font-weight: bold;
    margin: 5% auto 10px auto;
}

#lang-select-instruction-subtitle {
    font-size: 18px;
    margin-bottom: 5%;
}

/* Flags of country */
.lang-unique-flag {
    width: var(--flag-size);
    height: var(--flag-size);
    border-radius: 100px;
    object-fit: cover;
    margin-right: 20px;
}

#Japanese-flag, #Korean-flag {
    border: 1px solid var(--dark-gray);
}

/* Continue button */
#continue-lang-select {
    color: var(--white);
    background-color: var(--blue);
    width: 13vw;
    height: 50px;
    border: none;
    border-radius: 10px;
    margin: auto 22.5% 5% auto;
    float: right;
    font-size: 15px;
    letter-spacing: 1px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}


