/* Buttons with a unique language */
.lang-unique-button {
    height: 15vh;
    border-radius: 10px;
    border: 2px solid #3c3c3c;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1px;
    text-align: left;
    padding-left: 30px; 
    box-shadow: var(--shadow);
    cursor: pointer;
    display: flex;
    align-items: center;
    background: 50% / cover no-repeat rgba(255,255,255,0.9);
    background-blend-mode: lighten;
}

.active {
    border: 5px solid var(--blue);
    box-shadow: none;
    color: var(--blue);
    background: 50% / cover no-repeat rgba(240, 241, 255, 0.9);
}

#lang-select {
    display: grid;
    grid-template-columns: 27vw 27vw;
    column-gap: 5%;
    height: 450px;
    justify-content: center;
}

/* Instructions */
#lang-select-instruction-title {
    font-size: 30px;
    font-weight: bold;
    margin: 5% auto 10px auto;
}

#lang-select-instruction-subtitle {
    font-size: 18px;
    margin-bottom: 5%;
}

/* Flags of country */
.lang-unique-flag {
    width: var(--flag-size);
    height: var(--flag-size);
    border-radius: 100px;
    object-fit: cover;
    margin-right: 20px;
}

#Japanese-flag, #Korean-flag {
    border: 1px solid #3c3c3c;
}

/* Continue button */
#continue-lang-select {
    background-color: var(--blue);
    color: var(--white);
    width: 15vw;
    height: 7.5vh;
    border-radius: 10px;
    border: none;
    box-shadow: var(--shadow);
    margin: auto 20.5% 5% auto;
    float: right;
    cursor: pointer;
    letter-spacing: 1px;
    font-size: 16px;
}


