/* Large Screen */
@media screen and (min-width: 1020px) {
    #lang-select {
        display: grid;
        grid-template-columns: 45% 45%;
        height: 450px;
        justify-content: space-between;
    }
}

/* Small Screen */
@media screen and (max-width: 1020px) {
    #lang-select {
        display: flex;
        flex-direction: column;
    }

    .lang-unique-button {
        margin-bottom: 30px;
    }
}

/* Buttons with a unique language */
.lang-unique-button {
    height: 60%;
    max-height: 100px;
    min-height: 75px;
    border-radius: 10px;
    border: none;
    font-size: 16px;
    font-weight: bold;
    color: var(--main-black);
    letter-spacing: 1px;
    text-align: left;
    padding-left: 30px;
    box-shadow: 0 2px 2px 2px #3c3c3cdc;
    cursor: pointer;
    display: flex;
    align-items: center;
    background: 50% / cover no-repeat rgba(255, 255, 255, 0.9);
    background-blend-mode: lighten;
}

.active {
    border: 5px solid var(--lang-select-button);
    box-shadow: none;
    color: var(--text-blue);
    background: 50% / cover no-repeat rgba(240, 241, 255, 0.9);
}

#lang-select-wrapper {
    margin-right: 20%;
    margin-left: 20%;
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    margin-top: 50px;
}

/* Instructions */
#lang-select-instruction-title {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 10px;
}

#lang-select-instruction-subtitle {
    font-size: 16px;
    margin-bottom: 25px;
}

/* Flags of country */
.lang-unique-flag {
    width: var(--flag-size);
    height: var(--flag-size);
    border-radius: 100px;
    object-fit: cover;
    margin-right: 20px;
}

#Japanese-flag,
#Korean-flag {
    border: 1px solid var(--main-black);
}

/* Continue button */
#continue-lang-select-wrapper {
    display: flex;
    justify-content: right;
}

#continue-lang-select {
    background-color: var(--text-blue);
    border: none;
    border-radius: 10px;
    color: var(--main-white);
    cursor: pointer;
    font-size: 14px;
    height: 45px;
    letter-spacing: 1px;
    text-decoration: none;
    width: 150px;
}